.container {
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

input[type="text"],button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
}

button{
    font-size: 20px;
    background-color: rgb(204, 222, 216);
    text-align: center;
    padding: 10px;
}
