body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.logo {
    max-width: 600px; 
    max-height: 600px;
}

h1, h3 {
    margin: 20px; 
    align-items: center;
}

.f{
    margin: 20px; 
    text-align: center;
    margin: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color:  #DCDCDC;
}

td {
    height: 100px; 
    text-align: center;
}


td[colspan="3"] {
    font-weight: bold;
}

td[colspan="2"] {
    font-weight: bold;
}

/* for table */
.t2 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.t2 th, .t2 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.t2 th {
    background-color: #DCDCDC;
}

.t2 td {
    height: 30px;
}

.t2 td[colspan="2"] {
    text-align: right;
}

.t2 td[colspan="3"] {
    font-weight: bold;
}

/*footer*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #333; 
    color: #fff; 
}

.mr{
 
 margin-top: 20px;
 background-color: #D3D3D3;
 padding: 20px;
 font-size: 25px;
 border-radius: 25px;
   
}
